.navbar-link {
    font-family: 'Lemon Milk', sans-serif;
    font-size: 25px;  /* Tamaño de la fuente original */
    font-weight: 500;  /* Peso de la fuente original */
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: #990000;
}

.fixed {
    color: white;
}

@media (min-width: 1024px) {
    .navbar-link {
        font-size: 13px;
    }
}

/* Para los enlaces en los menús desplegables */
.navbar-dropdown-link {
    font-family: 'Lemon Milk', sans-serif;
    font-size: 12px;  /* Tamaño de la fuente más grande que el anterior (anteriormente 12px) */
    font-weight: 600;  /* Aumentamos el peso de la fuente (anteriormente 500) */
    letter-spacing: 0.5px;
    color: black;
    text-transform: none;
    transition: color 0.3s ease;
}

.navbar-dropdown-link:hover {
    color: #990000;
}

.navbar-icon {
    transition: none;
  }
  
.navbar-icon:hover {
    filter: brightness(0) saturate(100%) invert(34%) sepia(100%) saturate(3400%) hue-rotate(356deg) brightness(90%) contrast(102%);
}
   
  