@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Lemon Milk', sans-serif;
  /* Puedes definir otra variable si necesitas Pinyon Script en algún lugar específico */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Lemon Milk', sans-serif;
}

/*
font-family: 'Libre Baskerville', serif;
font-family: 'Pinyon Script', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Yatra One', sans-serif;
font-family: 'Playwrite België Vlaanderen', sans-serif;
 font-family: 'Zain', sans-serif;
*/


@keyframes zoomOut {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.zoom-out {
  animation: zoomOut 1.5s ease-out forwards;
}

@font-face {
  font-family: 'Lemon Milk';
  src: url('/fonts/LEMONMILK-.woff2') format('woff2'),
       url('/fonts/LEMONMILK-Medium.woff') format('woff');
  font-weight: normal; /* Revisa si la licencia recomienda un peso numérico (500, 600, etc.) */
  font-style: normal;
}
